@import url("pallette.css");

body {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;
    justify-content: space-between;
    min-height: 100vh;
}

#header {
    display: flex;
    flex-flow: row;
    background: var(--secondary);
    width: 100%;
    justify-content: space-between;
}

#logo {
    height: 6em;
    width: 6em;
    padding: 0.8em
}

.vertical-divider.header-divider {
    margin: 10px
}

.division-container {
    display: flex;
    flex-flow: row;
}

.header-middle {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.navigation a {
    color: var(--details);
    text-decoration: none;
    padding: 0.4em;
    margin: 0.2em;
    background: var(--navigation);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
}

.navigation a:hover {
    background: #f26868;
    color: var(--details);
}

.column-info-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: left;
    font-size: 14px;
    margin: 1em
}

.column-info-container.right-side {
    text-align: right;
    color: var(--details)
}

#content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 2em;
}

ol {
    margin-top: 0.2em;
}

ol li {
    margin-left: 20px;
}

.index-header {
    text-align: center;
    position: relative; /* Required for ::after to be positioned correctly */
}

.index-header::after {
    content: ""; /* Necessary for the pseudo-element to work */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.1em;
    width: calc(100% + 2em);
    border-bottom:  1px solid var(--tertiary);
}

.index-title {
    margin-bottom: 0.8em;
}

.index {
    font-size: 18px;
}

.inner-index {
    display: flex;
    flex-flow: column;
}

.index-row div:nth-child(1) {
    flex: 1;
}


.index-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1em;
    min-width: 6em;
    color: var(--tertiary);
    text-decoration: none;
}

.index-row:hover {
    color: var(--navigation);
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
}

#page-navigation {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:  100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 0.5em;
}

#page-navigation a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary);
    text-decoration: none;
    padding: 0.4em;
}

#page-navigation a:hover, #page-navigation .selected {
    background: rgba(0, 0, 0, 0.2);
}

#page-navigation .button-href {
    background: var(--tertiary);
    color: var(--details);
    padding: 0.4em 2em;
    margin-right: 6em;
    margin-left: 6em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#page-navigation .button-href[href] {
    background: var(--secondary);
}

#page-navigation .button-href[href]:hover {
    background: #f26868;
    color: var(--details);
    cursor: pointer;
}

#page-navigation .button-href:hover {
    background: var(--tertiary);
    cursor: not-allowed;
}

#footer {
    display: flex;
    flex-flow: row;
    background: var(--tertiary);
    color: var(--details);
    justify-content: space-between;
    align-items: center;

    position: relative;
    bottom: 0;
    width: 100%;
}

#footer.column-info-container {
    font-size: 11px;
}

#footer img {
    margin-left: 0.8em;
    height: 3em;
    width: 3em;
}