@import url("pallette.css");

.column-root {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.row-root {
    display: inline-flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.video-component {
    border-radius: 5px;
    background: var(--tertiary);
    padding: 0.2em;
    margin: 1em;
    width: auto;
    height: auto;
}

.img-component {
    border-radius: 5px;
    padding: 0.2em;
    margin: 1em;
    width: auto;
    height: auto;
}

.text-component {
    word-wrap: break-word;
}

.text-component a {
    color: #4400d6;
    text-decoration: underline;
}